::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(241, 241, 241, 0.8);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.8);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(85, 85, 85, 0.8);
}
